html, body, :global(#root) {
  height: 100%;
}

body {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

a {
  color: #ff3435;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: none;
  outline: none;
}

label {
  font-weight: 400;
}

:global .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 18px 0;
  border-radius: 0;
}
:global .pagination > li {
  display: inline;
}
:global .pagination > li > a,
:global .pagination > li > span {
  position: relative;
  float: left;
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #ff3435;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  margin-left: -1px;
}
:global .pagination > li:first-child > a,
:global .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
:global .pagination > li:last-child > a,
:global .pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
:global .pagination > li > a:hover,
:global .pagination > li > span:hover,
:global .pagination > li > a:focus,
:global .pagination > li > span:focus {
  z-index: 2;
  color: #e71d1d;
  background-color: #eeeeee;
  border-color: #dddddd;
}
:global .pagination > .active > a,
:global .pagination > .active > span,
:global .pagination > .active > a:hover,
:global .pagination > .active > span:hover,
:global .pagination > .active > a:focus,
:global .pagination > .active > span:focus {
  background-color: #ff3435;
  z-index: 3;
  color: #ffffff;
  border-color: #ff3435;
  cursor: default;
}

:global .btn {
  border-radius: 0;
}

:global(.btn:active, .btn.active) {
  outline: 0;
  box-shadow: none;
}

:global(.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default) {
  color: #555;
  background-color: #ededed;
  border-color: #c5c5c5;
}

:global .dropdown-menu > li > a:hover {
  background-color: #ff3435;
  color: #fff;
}

.lightFg {
  color: #fff;
}

.lightBg {
  background-color: #ffffff;
}

.darkBg {
  background-color: #272727;
}

.primaryBg {
  background-color: #ff3435;
}

.text {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px !important;
}

.title {
  font-family: Montserrat, sans-serif;
}

.textarea {
  display: block;
  width: 100%;
  height: 44px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #777777;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #eaeaea;
  border-radius: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.disabled {
  cursor: not-allowed;
  background-color: #eeeeee;
  opacity: 1;
}

.noResize {
  resize: none;
  min-height: 100px !important;
}

:local .noData {
  color: lightgray;
  font-size: 40px;
  text-align: center;
}

:local .noData span {
  font-size: 80px;
}

:local .tab {
  font-size: 16px;
  text-align: center;
}

:local .tab > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #FFFFFF;
  color: #666666;
}

@media (min-width: 768px) {
  :local .tab {
    display: table-cell;
    width: 1%;
  }
  :local .tab > a {
    margin-bottom: 0;
  }
  :local .stickyContainer {
    position: sticky;
    top: 55px;
    z-index: 4;
  }
}

:local .stickyContainer {
  background-color: white;
}

:local .tabsContainer {
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  border-bottom: 1px #EEEEEE solid;
  -webkit-box-shadow: 0px 6px 24px -19px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 24px -19px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 24px -16px rgba(0,0,0,0.75);
}

:local .tabContent {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 40px;
}

:local .active {
  background-color: #EEEEEE !important;
}

@media print {
  :global(.col-md-1,.col-md-2,.col-md-3,.col-md-4,
  .col-md-5,.col-md-6,.col-md-7,.col-md-8,
  .col-md-9,.col-md-10,.col-md-11,.col-md-12) {
    float: left;
  }
  :global .col-md-offset-1 {
    margin-left: 8%;
  }
  :global .col-md-1 {
    width: 8%;
  }
  :global .col-md-2 {
    width: 16%;
  }
  :global .col-md-3 {
    width: 25%;
  }
  :global .col-md-4 {
    width: 33%;
  }
  :global .col-md-5 {
    width: 42%;
  }
  :global .col-md-6 {
    width: 50%;
  }
  :global .col-md-7 {
    width: 58%;
  }
  :global .col-md-8 {
    width: 66%;
  }
  :global .col-md-9 {
    width: 75%;
  }
  :global .col-md-10 {
    width: 83%;
  }
  :global .col-md-11 {
    width: 92%;
  }
  :global .col-md-12 {
    width: 100%;
  }
  :global #dashboard {
    margin-left: 0cm;
  }
  :global table {
    page-break-inside: avoid;
  }
  :global(h1, h2, h3, h4, h5, h6) {
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  :global .alert,
  :global .btn,
  :global .bm-menu-wrap,
  :global nav,
  :global #navbar,
  :global #scroll-up {
    display: none;
  }
  @page {
    margin: 1cm;
  }
}

:global .HW_badge_cont {
  display: inline-block !important;
  left: 24px;
  position: absolute !important;
}

/* Custom functions */

:global .a-bg-white a {
  background-color: #FFFFFF;
}

:global .a-db a {
  display: block;
}

:global .a-gray a {
  color: #666666;
}

:global .a-ph a {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

:global .a-pv a {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

:global .a-relative a {
  position: relative;
}

:global .b--bd[disabled],
:global .b--bd[disabled]:hover {
  border-color: #DFDFDF;
}

:global .b--bd[disabled] svg path {
  fill: #919191 !important;
  stroke: #919191 !important;
}

:global .b--bd[disabled] svg circle {
  stroke: #919191 !important;
}

:global .b--bh:hover {
  border-color: #FF3435;
}

:global .b--bh:hover:not([disabled]) svg path {
  fill: #FFFFFF !important;
  stroke: #FFFFFF !important;
}

:global .b--bh:hover svg circle {
  stroke: #FFFFFF !important;
}

:global .b--orgred {
  border-color: #FF3435;
}

:global .b--sb,
:global .b--sb:active,
:global .b--sb:focus,
:global .b--sb:hover {
  border: none !important;
}

:global .b--switch {
  border-color: #D9534F;
}

:global .b--switch:hover {
  border-color: #AC2925;
}

:global .bg-bd[disabled],
:global .bg-bd[disabled]:hover {
  background-color: #FAFAFA;
}

:global .bg-bh:hover {
  background-color: #FF3435;
}

:global .bg-lbl-gray {
  background-color: #707070;
}

:global .bg-lbl-green {
  background-color: #259800;
}

:global .bg-lbl-red {
  background-color: #FF2222;
}

:global .bg-lbl-yellow {
  background-color: #FFBF00;
}

:global .bg-ns {
  background-color: #525A5C !important;
}

:global .bg-ne {
  background-color: #FF3435 !important;
}

:global .bg-orgred {
  background-color: #FF3435;
}

:global .bg-sb,
:global .bg-sb:active,
:global .bg-sb:focus,
:global .bg-sb:hover {
  background: transparent !important;
}

:global .bg-size4 {
  background-size: 4rem 4rem;
}

:global .bg-switch {
  background-color: #D9534F;
}

:global .bg-switch:hover {
  background-color: #C9302C;
}

:global .bottom-9 {
  bottom: 9rem;  
}

:global .bottom-15 {
  bottom: 15rem;
}

:global .cna-bd[disabled],
:global .cna-bd[disabled]:hover {
  cursor: not-allowed;
}

:global .color-ah:hover {
  color: #FFFFFF;
}

:global .color-bd[disabled],
:global .color-bd[disabled]:hover {
  color: #919191;
}

:global .color-bh:hover {
  color: #FFFFFF;
}

:global .f2-5 {
  font-size: 1.75rem;
}

:global .grid {
  display: grid;
}

:global .img-box {
  height: 100px;
  width: 100px;
}

:global .l-50 {
  left: 50%;
}

:global .left--100{
  left: -100%;
}

:global .left-5 {
  left: 5rem;
}

:global .menu-grid {
  grid-template-columns: repeat( auto-fit, minmax(12rem, 1fr) );
}

:global .meter-shadow {
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

:global .mh--15 {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

:global .ml40 {
  margin-left: 40%;
}

:global .modalh-bb {
  border-bottom: 1px solid #E5E5E5;
}

:global .modalf-bt {
  border-top: 1px solid #E5E5E5;
}

:global .montserrat {
  font-family: 'Montserrat', sans-serif;
}

:global .mt-3-25 {
  margin-top: 3.25rem;
}

:global .nav-active-bg {
  background-color: #EEEEEE !important;
}

:global .noresize {
  resize: none;
}

:global .o-bd[disabled],
:global .o-bd[disabled]:hover {
  opacity: 1;
}

:global .orgred {
  color: #FF3435;
}

:global .pa1-5 {
  padding: 1.5rem;
}

:global .pb-animation {
  animation: progress-bar-stripes 2s linear infinite
}

:global .pb-bi {
  background-image: linear-gradient(
    45deg,
    rgba(255,255,255,.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255,255,255,.15) 50%,
    rgba(255,255,255,.15) 75%,
    transparent 75%,
    transparent
  );
}

:global .ph1-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

:global .pb-transition {
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

:global .pv2-5 {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

:global .r-50 {
  right:50%;
}

:global .right3 {
  right: 3rem;
}

:global .sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

:global .su-c::before {
  content: '\e682';
}

:global .su-dib::before {
  display: inline-block;
}

:global .su-icon::before {
  font-family: 'Pe-icon-7-stroke', sans-serif;
}

:global .su-icon:hover {
  opacity: 0.8;
}

:global .su-icon-f::before {
  font-size: 4rem;
}

:global .su-v-mid::before {
  vertical-align: mid;
}

:global .svg-box svg {
  width: 16px !important;
  height: 16px !important;
}

:global .svg-box20 svg {
  width: 20px !important;
  height: 20px !important;
}

:global .switch-mh {
  min-height: calc(1.5em + .75rem + 2px);
}

:global .switch-transition {
  transition: left 0.35s;
  -webkit-transition: left 0.35s;
}

:global .tc-bb {
  border-bottom: 1px #EEEEEE solid
}

:global .tc-shadow {
  box-shadow: 0px 6px 24px -16px rgba(0,0,0,0.75);
}

:global .top9-9 {
  top: 9.9rem;
}

:global .w-200 {
  width: 200%;
}

:global .w-45 {
  width: 45%;
}

:global .w-fit-content {
  width: fit-content;
}

:global .ws-pre-wrap {
  white-space: pre-wrap;
}

:global .ww-break-word {
  word-wrap: break-word;
}

/* Custom media */

@media(min-width: 768px){
  :global .sticky {
    position: sticky;
  }
  :global .w-45-ns {
    width: 45%;
  }
  :global .w-85-ns {
    width: 85%;
  }
}

@media(min-width: 903px){
  :global .top5-5 {
    top: 5.5rem !important;
  }
}

@media(min-width: 992px){
  :global .sticky-find {
    position: sticky;
  }
}

@media(min-width: 1149px){
  :global .top5-5-find {
    top: 5.5rem !important;
  }
}


:global .b--mid-light-gray {
  border-color: #DDDDDD;
}