:local .currentValue {
  font-size: "18px";
  white-space: pre-wrap;
  word-wrap: break-word;
  width: fit-content;
}

:local .title {
  text-align: right;
}

:local .horizontalRow {
  margin-bottom: 15px;
}
