{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Graphic</title>

    <!-- Include C3 -->
    <link href="{% static 'external/C3/c3-0.7.18/c3.css' %}" rel="stylesheet">
    <script src="{% static 'external/C3/c3-0.7.18/c3.js' %}"></script>

    <!-- Include D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>

    <!-- Include graphic generator -->
    <link href="{% static 'styles/graphic.css' %}" rel="stylesheet" type="text/css"  media="screen"/>
    <script src="{% static generator_src %}"></script>

    <!-- Include Data Document -->
    <!-- https://docs.djangoproject.com/en/3.0/ref/templates/builtins/#json-script -->
    {{ args | json_script:"args" }}
  </head>
  <body onload="load()">
    <div id="root"></div>
  </body>
</html>
