{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700|Source+Sans+Pro:300,700" rel="stylesheet">

    <title>Integrates | Fluid Attacks</title>
    <style type="text/css">
        body {
          background-color: #f5f5f5;
          font-family: Source Sans Pro, sans-serif;
          font-size: 16px;
          height: 100vh;
          margin: 0px;
          width: 100vw;
        }

        h3 {
          font-family: Montserrat, sans-serif;
          font-weight: bold;
          margin: 2px;
        }

        img {
          margin: 5px;
          width: 50px;
        }

        .flex-container {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
        }

        .flex-container > div {
          text-align: center;
        }
    </style>
</head>

<body>
    <div class="flex-container">
        <div>
            <img src="{% static 'img/iconFluidAttacks.png' %}" alt="icon" />
        </div>
        <div>
            <h3>Integrates is only available for desktops</h3>
        </div>
    </div>
</body>
</html>
