<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700|Source+Sans+Pro:300,700" rel="stylesheet">

    <title>Integrates | Fluid Attacks</title>
    <style type="text/css">
        body {
          background-color: #f5f5f5;
          font-family: Source Sans Pro, sans-serif;
          font-size: 16px;
          height: 100vh;
        }

        h2 {
          font-family: Montserrat, sans-serif;
          font-weight: bold;
          margin: 2px;
        }

        p {
          margin: 2px;
        }

        img {
          margin: 5px;
          width: 50px;
        }

        .flex-container {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
        }

        .flex-container > div {
          text-align: center;
          width: 400px;
        }
    </style>
</head>

<body>
    <div class="flex-container">
        <div>
            <img src="{{ url_for('static', path='/imgs/iconFluidAttacks.png') }}" alt="icon" />
        </div>
        <div>
            <h2>Unauthorized Access</h2>
        </div>
        <div>
            <p>Please contact your administrator<br />
                to grant you access</p>
        </div>
    </div>
    <script>
        var getUrl = window.location.href.split(`${window.location.host}`);
        localStorage.setItem("start_url",getUrl[getUrl.length - 1]);
        function Redirect() {
            location = "/";
        }
        setTimeout(Redirect, 3000);
    </script>
</body>
</html>
