:local .container {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  height: 100%;
}

:local .content {
  margin-top: -6%;
}

:local .socialBtn {
  align-items: center;
  border-radius: 0px;
  display: flex;
  font-size: 18px;
  height: 40px;
  justify-content: space-between;
}

:local .socialBtn:hover {
  filter: brightness(90%);
}

:local .socialBtn:focus, .socialBtn:active:focus {
  outline: 0;
}

:local .bitbucketBtn {
  background-color: #0747A6;
  border-color: #0747A6;
}

:local .googleBtn {
  background-color: #CC0000;
  border-color: #AA0000;
  color: white;
  margin-top: 60px;
}

:local .microsoftBtn {
  background-color: #007BFF;
  border-color: #007BFF;
}


:local .twofactor {
  background-color: #3D3C3C !important;
  font-family: 'Source Sans Pro', sans-serif !important;
}

:local .deploymentDate {
  position: absolute;
  bottom: 32px;
  right: 16px;
}

:local .commit {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
