{% extends "base.html" %}
{% block meta %}
  <meta name="description"
        content="{{ page.description }}">
  <meta name="keywords"
        content="{{ page.keywords }}">
  <meta name="url"
        property="og:url"
        content="{{ SITEURL }}/{{ page.url }}">
  <meta name="title"
        property="og:title"
        content="{{ page.title }} | {{ SITENAME }}">
  <meta name="description"
        property="og:description"
        content="{{ page.description }}">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
  <meta name="type"
        property="og:type"
        content="website">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block breadcrumb%}
  <!-- navcontent-container -->
<div class="pv0 mt-body">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/products/">
            Products
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">
            Drills
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block header %}
<div
  class="drills-bg bg-banner-sz coverm cover-s banner-height justify-center items-center flex bg-center">
  <div class="w-100 center">
    <h1 class="white fw7 f1 neue tc f-5-l ma0">
      {{ page.title }}
    </h1>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="tc pt3 flex nowrap items-center justify-center overflow-x-auto">
  <ul class="pl0">
    <li class="dib ph2">
      <a href="{{ SITEURL }}/products/integrates/"
         class="c-fluid-gray f4 roboto fw7 no-underline hv-fluid-bk">
        Integrates
      </a>
    </li>
    <li class="dib ph2">
      <a href="{{ SITEURL }}/products/skims/"
      class="c-fluid-gray f4 roboto fw7 no-underline">
        Skims
      </a>
    </li>
    <li class="dib ph2 bb bc-hover-red bw2">
      <a href="{{ SITEURL }}/products/drills/"
      class="c-lightblack f4 roboto no-underline fw7 hv-fluid-bk">
        Drills
      </a>
    </li>
    <li class="dib ph2">
      <a href="{{ SITEURL }}/products/forces/"
      class="c-fluid-gray f4 roboto no-underline fw7 hv-fluid-bk">
        Forces
      </a>
    </li>
  </ul>
</div>
<div class="flex justify-center items-center ph-body">
  <div class="mw7 center">
    <p class="roboto f3-l f4 fw3 lh-2">
    The rigorous inspection carried out makes it possible to detect all security
    issues with no false positives and no false negatives, and to check if the
    issues have been properly repaired before the system goes into production.
    Through human creativity and precision, combined with the speed of the
    automatic, Drills finds deep and zero-day vulnerabilities during software
    development.
    </p>
    <div class="center tc">
      <a class="no-underline tc f3 menu-txt-trans roboto hv-fluid-rd "
      href="{{ SITEURL }}/contact-us/">
        <button class="tc outline-transparent fw7 br2 bw1 ph5 pv2 bg-transparent bc-fluid-red ba hv-fluid-rd hv-fluid-bd bt-trans c-dkred pointer">
          Get a Quote
        </button>
      </a>
    </div>
  </div>
</div>
<h2 class="roboto c-fluid-bk f1 fw6 tc pt6">Key Benefits</h2>
<div class="w-100 flex-l pv4 ph-body">
  <div class="w-100">
    <div class="w-50-l fl-l tl ph0-ns ph-body" data-aos="fade-right">
      <img
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/drills/drills-screen-1.png"
      alt="Drills screen 1">
    </div>
    <div class="w-50-l fr-l ph-body">
      <ul class="tl roboto list pl0 mw-20">
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            High Performed
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Performed on code, environments, infrastructure and clouds.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Deep Searching
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Maximum rigor in the search of vulnerabilities.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Real Results
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Forget about false positives and false negatives.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Findings
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Find Zero-Day vulnerabilities.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="w-100 flex pv4 ph-body">
  <div class="w-100">
    <div class="w-50-l fr-l tr ph0-ns ph-body" data-aos="fade-left">
      <img
      class="fr-l"
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/drills/drills-screen-2.png"
      alt="Drills screen 2">
    </div>
    <div class="w-50-l fl-l ph-body">
      <ul class="tr-l tl roboto list pl0 mw-20 fr-l">
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Remediation
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Obtain a higher rate of remediation and at a faster speed since
            feedback from Fluid Attacks' security analysts is constant
            throughout the development cycle.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Evidence
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Obtain detailed evidence of the vulnerabilities found.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Accessibility
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Obtain access to the extracted information.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mw-1366 ph-body center pv5">
  <h2 class="roboto c-fluid-bk f1 fw6 tc">
    Key Features
  </h2>
  <div class="drills-features product-features justify-center items-center flex flex-wrap roboto">
    {{ page.content }}
  </div>
</div>
<div class="mw-1366 center ph-body roboto tc pb6">
  <div class="w-100 tc">
    <img
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/drills/datasheet-drills.png"
      alt="Young hacker smiling">
  </div>
  <div class="tc">
    <a href="https://fluidattacks.docsend.com/view/dwz4jbxryn54k4mc">
      <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv3 ph4 roboto fw7 f4 dib bt-trans br2 bc-fluid-red ba">
        Download DataSheet
      </button>
    </a>
  </div>
</div>
{% endblock content %}
<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
