{% extends "base.html" %}
{% block meta %}
  <meta name="description"
        content="{{ page.description }}">
  <meta name="keywords"
        content="{{ page.keywords }}">
  <meta name="url"
        property="og:url"
        content="{{ SITEURL }}/{{ page.url }}">
  <meta name="title"
        property="og:title"
        content="{{ page.title }} | {{ SITENAME }}">
  <meta name="description"
        property="og:description"
        content="{{ page.description }}">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
  <meta name="type"
        property="og:type"
        content="website">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block breadcrumb%}
  <!-- navcontent-container -->
<div class="pv0 mt-body">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/products/">
            Products
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">
            Forces
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block header %}
<div
  class="forces-bg bg-banner-sz coverm cover-s banner-height justify-center items-center flex bg-center">
  <div class="w-100 center">
    <h1 class="white fw7 f1 neue tc f-5-l ma0">
      {{ page.title }}
    </h1>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="tc pt3 flex nowrap items-center justify-center overflow-x-auto">
  <ul class="pl0">
    <li class="dib ph2">
      <a href="{{ SITEURL }}/products/integrates/"
         class="c-fluid-gray f4 roboto fw7 no-underline hv-fluid-bk">
        Integrates
      </a>
    </li>
    <li class="dib ph2">
      <a href="{{ SITEURL }}/products/skims/"
      class="c-fluid-gray f4 roboto fw7 no-underline">
        Skims
      </a>
    </li>
    <li class="dib ph2">
      <a href="{{ SITEURL }}/products/drills/"
      class="c-fluid-gray f4 roboto no-underline fw7 hv-fluid-bk">
        Drills
      </a>
    </li>
    <li class="dib ph2 bb bc-hover-red bw2">
      <a href="{{ SITEURL }}/products/forces/"
      class="c-lightblack f4 roboto no-underline fw7 hv-fluid-bk">
        Forces
      </a>
    </li>
  </ul>
</div>
<div class="flex justify-center items-center ph-body">
  <div class="mw7 center">
    <p class="roboto f3-l f4 fw3 lh-2">
    <b class="fw7">Forces</b> is constituted as an essential element
    for the implementation of DevSecOps in projects.
    It verifies the status of your vulnerabilities and breaks the build
    to force the remediation of open and unaccepted vulnerabilities.
    Forces can be included in CI/CD (Continuous Integration/Continuous
    Deployment) environments as a security gate.
    Thus, any changes to the Target of Evaluation (ToE) can be
    continuously tested against the closing of confirmed vulnerabilities.
    </p>
    <div class="tl-l tc">
      <div class="tc dib-l pr2-l pv0-l pv3">
        <a href="{{ SITEURL }}/products/forces/install/">
          <button class="roboto tc outline-transparent fw7 f4 br2 bw1 ph4 pv3 bg-transparent bc-fluid-red ba hv-fluid-rd hv-fluid-bd bt-trans c-dkred pointer">
              Check Installation Guide
          </button>
        </a>
      </div>
      <div class="tc dib-l pl2-l pv0-l pv3">
        <a href="{{ SITEURL }}/contact-us/">
          <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv3 ph4 roboto fw7 f4 dib bt-trans br2 bc-fluid-red ba">
            Get a Quote
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<h2 class="roboto c-fluid-bk f1 fw6 tc pt6">Key Benefits</h2>
<div class="w-100 flex-l pv4 ph-body">
  <div class="w-100">
    <div class="w-50-l fl-l tl ph0-ns ph-body" data-aos="fade-right">
      <img
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/forces/forces-screen-1.png"
      alt="Young hacker smiling">
    </div>
    <div class="w-50-l fr-l ph-body">
      <ul class="tl roboto list pl0 mw-20">
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Break the Build
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Support vulnerability status checks
            and break the build if vulnerabilities are open.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Status
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Identify the confirmed status
            of known vulnerabilities in your system.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            System
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Scalability, speed and precision for your tested system.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="w-100 flex pv4 ph-body">
  <div class="w-100">
    <div class="w-50-l fr-l tr ph0-ns ph-body" data-aos="fade-left">
      <img
      class="fr-l"
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/forces/forces-screen-2.png"
      alt="Young hacker smiling">
    </div>
    <div class="w-50-l fl-l ph-body">
      <ul class="tr-l tl roboto list pl0 mw-20 fr-l">
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Deployment
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Confidence to deploy changes
            to production without known vulnerabilities.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Cycle
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Interactive cycle for the vulnerability closing process
            (Drills or Skims required).
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mw-1366 ph-body center pv5">
  <h2 class="roboto c-fluid-bk f1 fw6 tc">
    Key Features
  </h2>
  <div class="other-features product-features justify-center items-center flex flex-wrap roboto">
    {{ page.content }}
  </div>
</div>
<div class="mw-1366 ph-body center pv5 v-top">
  <h2 class="roboto c-fluid-bk f1 fw6 tc">
    Supported Languages
  </h2>
  <div class="center moon-gray mw8">
    <ul class="list roboto f3-ns f4 fw7 dib-l ph4 mv0 pv0-l pv4 tl">
      <li>ABAP</li>
      <li>ActionScript</li>
      <li>ASP.NET</li>
      <li>Apex</li>
      <li>C</li>
      <li>C#</li>
      <li>C++</li>
      <li>Cloudformation</li>
      <li>Cobol</li>
      <li>Go</li>
    </ul>
    <ul class="list roboto f3-ns f4 fw7 dib-l ph4 mv0 pv0-l pv4 tl">
      <li>Hana SQL Script</li>
      <li>HTML</li>
      <li>Informix</li>
      <li>Java</li>
      <li>JavaScript/TypeScript</li>
      <li>JCL</li>
      <li>JSP</li>
      <li>Kotlin</li>
      <li>Natural</li>
      <li>Objective C</li>
    </ul>
    <ul class="list roboto f3-ns f4 fw7 dib-l ph4 mv0 pv0-l pv4 tl">
      <li>OracleForms</li>
      <li>PHP</li>
      <li>PL-SQL</li>
      <li>PL1</li>
      <li>PowerScript</li>
      <li>Python</li>
      <li>RPG4</li>
      <li>Ruby</li>
      <li>Scala</li>
      <li>SQL</li>
    </ul>
    <ul class="list roboto f3-ns f4 fw7 dib-l ph4 mv0 pv0-l pv4 tl v-top">
      <li>SQL</li>
      <li>Swift</li>
      <li>TAL</li>
      <li>Terraform</li>
      <li>Transact-SQL</li>
      <li>VB.NET</li>
      <li>VisualBasic 6</li>
      <li>XML</li>
    </ul>
  </div>
</div>
<div class="mw-1366 center ph-body roboto tc pb6">
  <div class="w-100 tc">
    <img
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/forces/forces-datasheet.png"
      alt="Young hacker smiling">
  </div>
  <div class="tc">
    <a href="https://fluidattacks.docsend.com/view/utsh7u7hdef453fw">
      <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv3 ph4 roboto fw7 f4 dib bt-trans br2 bc-fluid-red ba">
        Download DataSheet
      </button>
    </a>
  </div>
</div>
{% endblock content %}

<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
