{% extends "base.html" %}
{% block meta %}
  <meta name="description"
        content="{{ page.description }}">
  <meta name="keywords"
        content="{{ page.keywords }}">
  <meta name="url"
        property="og:url"
        content="{{ SITEURL }}/{{ page.url }}">
  <meta name="title"
        property="og:title"
        content="{{ page.title }} | {{ SITENAME }}">
  <meta name="description"
        property="og:description"
        content="{{ page.description }}">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
  <meta name="type"
        property="og:type"
        content="website">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block breadcrumb%}
  <!-- navcontent-container -->
<div class="pv0 mt-body">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/products/">
            Products
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">
            Skims
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block header %}
<div
  class="skims-bg bg-banner-sz coverm cover-s banner-height justify-center items-center flex bg-center">
  <div class="w-100 center">
    <h1 class="white fw7 f1 neue tc f-5-l ma0">
      {{ page.title }}
    </h1>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="tc pt3 flex nowrap items-center justify-center overflow-x-auto">
  <ul class="pl0">
    <li class="dib ph2">
      <a href="{{ SITEURL }}/products/integrates/"
         class="c-fluid-gray f4 roboto fw7 no-underline hv-fluid-bk">
        Integrates
      </a>
    </li>
    <li class="dib ph2 bb bc-hover-red bw2">
      <a href="{{ SITEURL }}/products/skims/"
      class="c-lightblack f4 roboto fw7 no-underline">
        Skims
      </a>
    </li>
    <li class="dib ph2">
      <a href="{{ SITEURL }}/products/drills/"
      class="c-fluid-gray f4 roboto no-underline fw7 hv-fluid-bk">
        Drills
      </a>
    </li>
    <li class="dib ph2">
      <a href="{{ SITEURL }}/products/forces/"
      class="c-fluid-gray f4 roboto no-underline fw7 hv-fluid-bk">
        Forces
      </a>
    </li>
  </ul>
</div>
<div class="flex justify-center items-center ph-body">
  <div class="mw7 center">
    <p class="roboto f3-l f4 fw3 lh-2">
      <b class="fw6">Skims</b> is Fluid Attacks’ SAST/SCA tool in charge of
      searching and detecting superficial or peripheral vulnerabilities in your
      IT systems through an easy, accurate, and fast execution.
      <b class="fw6">Skims</b> can be part of your entire SDLC and send
      real-time reports of its findings to our Integrates platform, where you
      can stay informed and make essential and prompt decisions. Beyond the
      early identification of multiple weaknesses in your code,
      <b class="fw6">Skims</b> can also automatically verify if they have been
      successfully remediated, guaranteeing that you have a much more secure,
      high-quality system before going into production.
    </p>
    <div class="tl-l tc">
      <div class="tc dib-l pr2-l pv0-l pv3">
        <a href="{{ SITEURL }}/resources/doc/skims/">
          <button class="roboto tc outline-transparent fw7 f4 br2 bw1 ph4 pv3 bg-transparent bc-fluid-red ba hv-fluid-rd hv-fluid-bd bt-trans c-dkred pointer">
              Check Documentation
          </button>
        </a>
      </div>
      <div class="tc dib-l pl2-l pv0-l pv3">
        <a href="{{ SITEURL }}/contact-us/">
          <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv3 ph4 roboto fw7 f4 dib bt-trans br2 bc-fluid-red ba">
            Get a Quote
          </button>
        </a>
      </div>
    </div>
  </div>
</div>
<h2 class="roboto c-fluid-bk f1 fw6 tc pt6">Key Benefits</h2>
<div class="w-100 flex-l pv4 ph-body">
  <div class="w-100">
    <div class="w-50-l fl-l tl ph0-ns ph-body" data-aos="fade-right">
      <img
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/skims/skims-screen-1.png"
      alt="Young hacker smiling">
    </div>
    <div class="w-50-l fr-l ph-body">
      <ul class="tl roboto list pl0 mw-20">
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Location
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Reveals the exact location (i.e., line of code) and severity of each
            finding.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Accuracy
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Produces low false positives rates.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Integration
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Can be easily integrated into the CI/CD pipelines of your whole SDLC.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Feedback
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Provides your developers with real-time feedback about the security
            of what they are currently building.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="w-100 flex pv4 ph-body">
  <div class="w-100">
    <div class="w-50-l fr-l tr ph0-l ph-body" data-aos="fade-left">
      <img
      class="fr-l"
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/skims/skims-screen-2.png"
      alt="Young hacker smiling">
    </div>
    <div class="w-50-l fl-l ph-body">
      <ul class="tr-l tl roboto list pl0 mw-20 fr-l">
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Tracking
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Tracks remediation, confirming when each vulnerability has been
            effectively closed.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Improvement
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Allows you to improve your applications' security without slowing down
            the development speed in your company.
          </p>
        </li>
        <li class="c-fluid-bk pv3">
          <h3 class="f3 fw6 mv0">
            Complementation
          </h3>
          <p class="f5 fw3 mv0 lh-copy">
            Perfectly complements the other Fluid Attacks products to optimize
            your IT systems’ security within a DevSecOps approach.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="mw-1366 ph-body center pv5">
  <h2 class="roboto c-fluid-bk f1 fw6 tc">
    Key Features
  </h2>
  <div class="product-features justify-center items-center flex flex-wrap roboto">
    {{ page.content }}
  </div>
</div>
<div class="mw-1366 center ph-body roboto tc pb6">
  <div class="w-100 tc">
    <img
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/products/skims/skims-datasheet.png"
      alt="Young hacker smiling">
  </div>
  <div class="tc">
    <a href="https://fluidattacks.docsend.com/view/ftgmc53d9e5c6m33">
      <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv3 ph4 roboto fw7 f4 dib bt-trans br2 bc-fluid-red ba">
        Download DataSheet
      </button>
    </a>
  </div>
</div>
{% endblock content %}

<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
