<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}"
      class="sans-pro">
  <head>
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="9c4480b4-b8ae-44d8-9c6f-6300b86e9094" data-blockingmode="auto" type="text/javascript"></script>
    {% block head %}
      <meta http-equiv="Content-type"
            content="text/html"
            charset="utf-8">
      <meta http-equiv="X-UA-Compatible"
            content="IE=edge">
      <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <!-- Meta Description -->
        {% block meta %}{% endblock meta %}
      <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async
                src="https://www.googletagmanager.com/gtag/js?id=UA-22974464-4">
        </script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-22974464-4');
        </script>
      <!-- End Google Analytics -->

            <!-- Compress and Minify CSS files and bundle from SASS files -->
      {% assets filters="scss, cssmin", output="static/css/theme.min.css", "scss/base.scss", "../node_modules/intl-tel-input/src/css/intlTelInput.scss" %}
        <link rel="preload"
              as="style"
              onload="this.rel = 'stylesheet'"
              href="{{ SITEURL }}/{{ ASSET_URL }}">
      {% endassets %}
            <!-- Compress and Minify CSS files and bundle from SASS files -->
      {% assets filters="scss, cssmin", output="static/css/theme.min.css", "scss/base.scss", "../node_modules/intl-tel-input/src/css/intlTelInput.scss" %}
        <link rel="stylesheet"
              type="text/css"
              href="{{ SITEURL }}/{{ ASSET_URL }}">
      {% endassets %}

      <!-- Tachyons stylesheet -->
        <link rel="preload"
        as="style"
        onload="this.rel = 'stylesheet'"
        href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

        <link
        rel="stylesheet"
        href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>

        <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"/>

        <!-- Animation on Scroll -->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

      <!-- Highlight.js syntax highlighter -->
      <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/styles/foundation.min.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/highlight.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/languages/x86asm.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/languages/gherkin.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/languages/powershell.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/languages/xml.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.1.1/languages/shell.min.js"></script>
      <script>hljs.initHighlightingOnLoad();</script>
      <!-- End Highlight.js -->

      {% if GOOGLE_SITE_VERIFICATION %}
        <meta name="google-site-verification"
              content="{{ GOOGLE_SITE_VERIFICATION }}">
      {% endif %}
      <title>{% block title %}{% endblock title %}</title>
      {% block canonical %}{% endblock canonical %}
      {% block language %}{% endblock language %}
      <link rel="shortcut icon"
            type="image/x-icon"
            href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.png"
            sizes="16x16" />
      <link rel="icon"
            type="image/x-icon"
            href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.png"
            sizes="16x16" />
      <link rel="apple-touch-icon-precomposed"
            href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/favicon.png" />
      {% for name,link in SOCIAL if name in ['rss', 'rss-square'] %}
        <link href="{{ link }}"
              type="application/atom+xml"
              rel="alternate"
              title="{{ SITENAME }} Full Atom Feed" />
      {% else %}
        {% if FEED_ALL_ATOM %}
          <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}"
                type="application/atom+xml"
                rel="alternate"
                title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
          <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}"
                type="application/rss+xml"
                rel="alternate"
                title="{{ SITENAME }} Full RSS Feed" />
        {% endif %}
        {% if FEED_ATOM %}
          <link href="{{ FEED_DOMAIN }}/{{ FEED_ATOM }}"
                type="application/atom+xml"
                rel="alternate"
                title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_RSS %}
          <link href="{{ FEED_DOMAIN }}/{{ FEED_RSS }}"
                type="application/rss+xml"
                rel="alternate"
                title="{{ SITENAME }} RSS Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
          <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_ATOM|format(category.slug) }}"
                type="application/atom+xml"
                rel="alternate"
                title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_RSS and category %}
          <link href="{{ FEED_DOMAIN }}/{{ CATEGORY_FEED_RSS|format(category.slug) }}"
                type="application/rss+xml"
                rel="alternate"
                title="{{ SITENAME }} Categories RSS Feed" />
        {% endif %}
        {% if TAG_FEED_ATOM and tag %}
          <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_ATOM|format(tag.slug) }}"
                type="application/atom+xml"
                rel="alternate"
                title="{{ SITENAME }} Tags Atom Feed" />
        {% endif %}
        {% if TAG_FEED_RSS and tag %}
          <link href="{{ FEED_DOMAIN }}/{{ TAG_FEED_RSS|format(tag.slug) }}"
                type="application/rss+xml"
                rel="alternate"
                title="{{ SITENAME }} Tags RSS Feed" />
        {% endif %}
      {% endfor %}
      <!-- Custom Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700|Source+Sans+Pro:300|Overpass+Mono"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900"
              rel="stylesheet">
        <link href="https://use.typekit.net/gtl3fqb.css"
              rel="stylesheet">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    {% endblock head %}
    {% block opengraph %}
      {% for admin in FACEBOOK_ADMINS %}
        <meta property="fb:admins"
              content="{{ admin }}" >
      {% endfor %}
      {% for LOC in LOCALE %}
        <meta property="og:locale"
              content="en_US">
      {% endfor %}
      <meta property="og:site_name"
            content="{{ SITENAME }}">
    {% endblock opengraph %}
    {% block twitter_card %}
      {% for name,link in SOCIAL if name in ['twitter'] %}
        <meta name="twitter:card"
              content="summary_large_image">
        <meta name="twitter:site"
              content="@{{ link|replace('http://', 'https://')|replace('https://twitter.com/', '') }}">
        <meta name="twitter:title"
              content="{{ SITENAME }}">
        <meta name="twitter:description"
              content="{{ SITESUBTITLE|default('View the blog.') }}">
        {% if HEADER_COVER %}
          <meta name="twitter:image"
                content="{{ SITEURL }}/{{ HEADER_COVER }}">
        {% else %}
          <meta name="twitter:image"
                content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg">
        {% endif %}
      {% endfor %}
    {% endblock twitter_card %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-PCDDL8T');</script>
    <!-- End Google Tag Manager -->
    <!-- Bugsnag CDN for script tags -->
    <script src="//d2wy8f7a9ursnm.cloudfront.net/v7/bugsnag.min.js"></script>
    <script>Bugsnag.start("6d0d7e66955855de59cfff659e6edf31")</script>
  </head>
  <body class="bg-graylight ma0 lh-copy overflow-x-hidden">
    {% assets filters="uglifyjs", output="static/js/plugins.min.js", "../node_modules/jquery/dist/jquery.js", "js/assets/tipuesearch/tipuesearch.min.js", "../node_modules/iframe-resizer/js/iframeResizer.js", "js/assets/tipuesearch/tipuesearch_set.js" %}
      <script type="text/javascript"
              src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets output="static/js/contentHome.min.js", "js/tmp/contentHome.min.js", "js/tmp/dynClasses.min.js", "js/tmp/anchor.min.js" %}
    <script type="text/javascript"
              src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
    {% endassets %}
    <!-- Navigation -->
      <div class="skeleton bg-graylight">
        {% include "menu.html" %}
      </div>
      <div class="bg-graylight">
        {% block breadcrumb %}{% endblock breadcrumb%}
        {% block header %}
        {% endblock header %}
      </div>
    <!-- Main Content -->
      <div class="contbody">
        <div class="row bg-graylight">
          <div class="bg-graylight">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
    <!-- Google Structured Data -->
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "url": "https://fluidattacks.com",
          "logo": "{{ SITEURL }}/theme/images/fluid-logo.png",
          "contactPoint": [{
            "@type": "ContactPoint",
            "telephone": "+57-4-444-2637",
            "contactType": "customer service",
            "areaServed": "CO",
            "availableLanguage": ["Spanish", "English"]
          },{
            "@type": "ContactPoint",
            "telephone": "+57-1-466-1673",
            "contactType": "customer service",
            "areaServed": "CO",
            "availableLanguage": ["Spanish", "English"]
          },{
            "@type": "ContactPoint",
            "telephone": "+57-314-878-1246",
            "contactType": "customer service",
            "areaServed": "CO",
            "availableLanguage": ["Spanish", "English"]
          },{
            "@type": "ContactPoint",
            "telephone": "+1-919-208-8180",
            "contactType": "customer service",
            "areaServed": "US",
            "availableLanguage": ["Spanish", "English"]
          }]
        }
      </script>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "ProfessionalService",
          "name": "{{ AUTHOR }}",
          "image": "{{ SITEURL }}/theme/images/fluid-logo.png",
          "@id": "",
          "url": "https://fludiattacks.com",
          "telephone": "+57 (4) 444-26-37",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Calle 7 Sur #42-70",
            "addressLocality": "Medellin",
            "postalCode": "050022",
            "addressCountry": "CO"
          },
          "geo": {
            "@type": "GeoCoordinates",
            "latitude": 6.197490999999999,
            "longitude": -75.5733826
          },
          "openingHoursSpecification": {
            "@type": "OpeningHoursSpecification",
            "dayOfWeek": [
              "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday"
            ],
          "opens": "8:00",
          "closes": "18:00"
          }
        }
      </script>
      <!-- Rocketchat live Chat -->
      <div>
      <!-- Start of Rocket.Chat Livechat Script -->
          <script type="text/javascript">
              (function(w, d, s, u) {
                  w.RocketChat = function(c) { w.RocketChat._.push(c) }; w.RocketChat._ = []; w.RocketChat.url = u;
                  var h = d.getElementsByTagName(s)[0], j = d.createElement(s);
                  j.async = true; j.src = 'https://fluidattacks.rocket.chat/livechat/rocketchat-livechat.min.js?_=201903270000';
                  h.parentNode.insertBefore(j, h);
              })(window, document, 'script', 'https://fluidattacks.rocket.chat/livechat');
          </script>
      <!-- End of Rocket.Chat Livechat Script -->
      </div>
    <!-- Footer -->
      {% include "footer.html" %}
 <!-- Cookie consent -->

    <!-- Initialize Animation on Scroll -->
    <script>
      AOS.init();
    </script>
    <!-- RDStation -->
      <script type="text/javascript"
              async
              src="https://d335luupugsy2.cloudfront.net/js/loader-scripts/587d2441-4eaa-4f2e-b96b-b0a5dcb3fcf3-loader.js" >
      </script>
      <!-- MAGNETICO PIXEL -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PLM7M4D');</script>
      <!-- END MAGNETICO PIXEL -->
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PCDDL8T"height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
  </body>
</html>
