{% extends "base.html" %}
{% block meta %}
  <meta name="description"
        content="{{ page.description }}">
  <meta name="keywords"
        content="{{ page.keywords }}">
  <meta name="url"
        property="og:url"
        content="{{ SITEURL }}/{{ page.url }}">
  <meta name="title"
        property="og:title"
        content="{{ page.title }} | {{ SITENAME }}">
  <meta name="description"
        property="og:description"
        content="{{ page.description }}">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
  <meta name="type"
        property="og:type"
        content="website">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

<!-- This block is for the breadcrumb -->
{% block breadcrumb%}
<div class="pv0 mt-body">
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">
            {{ page.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block header %}
<div class="bg-graylight">
  <div
    class="{{page.banner}} coverm cover-s banner-height justify-center items-center flex bg-center mw-1366 ml-auto mr-auto">
    <div class="w-100 center">
      <h1 class="white fw7 f1 neue tc ma0">
        {{ page.phrase }}
      </h1>
    </div>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="bg-graylight">
  <div class="roboto mw-1366 ph-body ml-auto mr-auto roboto ph4-l ph3 pt5-l pt4 pb5">
    {% for faqpage in pages if faqpage.faq %}
    <div class="mw8 center faq-list">
      {{ faqpage.content }}
    </div>
    {% endfor %}
    <div class="tc pv4">
      <a id="showMore" href="#" class="bg-light-gray pointer c-fluid-bk pv3 ph5 fw7 f5 bt-trans br2 no-underline">
        Show More
      </a>
      <a id="showLess" href="#" class="dn bg-light-gray pointer c-fluid-bk pv3 ph5 fw7 f5 bt-trans br2 no-underline">
        Show Less
      </a>
    </div>
  </div>
</div>
{% assets output="static/js/faqGen.min.js", "js/tmp/faqGen.min.js" %}
<script type="text/javascript"
        src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock content %}
<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
