{% extends "base.html" %}
{% block meta %}
  <meta name="description"
        content="Read Fluid Attacks' blog posts about IT, pentesting,
        hacking challenges writeups, information security,
        and ethical hacking recent trends.">
  <meta name="keywords"
        content="Blog, Articles, Opinion, Challenge, Pentesting, Security, Ethical Hacking, Trends">
  <meta name="url"
        property="og:url"
        content="{{ SITEURL }}/{{ articles_page.url }}">
  <meta name="title"
        property="og:title"
        content="Blog | {{ SITENAME }}">
  <meta name="description"
        property="og:description"
        content="Read Fluid Attacks' blog posts about IT, pentesting,
        hacking challenges writeups, information security,
        and ethical hacking recent trends.">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
  <meta name="type"
        property="og:type"
        content="website">
{% endblock meta %}

{% block canonical %}
<link rel="canonical"
      href="{{ SITEURL }}/blog/index.html">
{% endblock canonical %}

{% block title %}
Blog | {{ SITENAME }}
{% endblock title %}


{% block breadcrumb%}
  <!-- navcontent-container -->
<div class="pv0 mt-body">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
              href=".">Blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block header %}
<div
  class="blog-bg bg-banner-sz coverm cover-s banner-height justify-center items-center flex bg-center">
  <div class="w-100 center">
    <h1 class="white fw7 f1 neue tc f-5-l ma0">
      Blog
    </h1>
  </div>
</div>
{% endblock header %}

{% block content %}
 <!-- Div Index -->
 <div class="bg-graylight">
   <div class="roboto flex-ns flex-wrap-ns justify-between-m mw-1366 ph-body pv4-l pv3 bg-graylight ml-auto mr-auto">
    <!-- Blog Posts -->
    {% for article in articles_page.object_list %}
      <div
        class="br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns ma-auto bg-white w-card">
        {% if  article.featured_image %}
          <img loading="lazy" src="{{ SITEURL }}/blog/{{ article.slug }}{{ article.featured_image }}"
               alt="{{ article.alt }}"
               class="br3 br--top">
        {% endif %}
        <!-- Article Preview: Title, Description, Author, Tags ... -->
        <div class="h30-em ph4">
          <a href="{{ SITEURL }}/{{ article.url }}"
             rel="bookmark"
             title="Permalink to {{ article.title|striptags }}"
             class="no-underline">
            <!-- Title -->
            <h1 class="post-title c-fluid-bk mb0 tc hv-fluid-rd lh-solid">
              {{ article.title }}
            </h1>
          </a>
          {% if article.subtitle %}
            <!-- Subtitle -->
            <h4 class="c-fluid-bk tc b mb0">
              {{ article.subtitle }}
            </h4>
          {% endif %}<br/>
          <div class='post-info tl pl2'>
            <!-- Author -->
            <p class="c-fluid-bk fw4 f-key-features mv0">Author:
            {% for author in article.authors %}
              <a class="c-fluid-gray hover-black no-underline"
                 href="{{ SITEURL }}/{{ author.url }}">
                 {{ author }}
              </a><br/>
            {% endfor %}
            </p>
            <!-- Category -->
            <p class="c-fluid-bk fw4 f-key-features mv0">Category:
              <a class="c-fluid-gray hover-black no-underline"
                href="{{ SITEURL }}/{{ article.category.url }}">
                {{ article.category|replace("-", " ") }}
              </a><br/>
            </p>
            <!-- Tags -->
            <p class="c-fluid-bk fw4 f-key-features mv0">Tags:
            {% for tag in article.tags %}
              {% if loop.last %}
                <a class="c-fluid-gray hover-black no-underline"
                   href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a><br/>
              {% else %}
                <a class="c-fluid-gray hover-black no-underline"
                   href="{{ SITEURL }}/{{ tag.url }}">{{ tag }},&nbsp;</a>
              {% endif %}
            {% endfor %}
            </p>
          </div>
          <!-- Summary -->
          <p class="article-summary f5 pl2 mt0 pt1 mt2 mb0 overflow-hidden ">
            {% if article.has_summary %}
              {{ article.summary }}
            {% elif article.summary %}
              {{ article.description|striptags|truncate(100) }}
            {% endif %}
          </p>
          <br><br>
          <!-- Read More Button -->
          <div class="absolute bottom-2 right-0 left-0 tc">
            <a href="{{ SITEURL }}/{{ article.url }}">
              <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Read More</button>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
 </div>
{% if DEFAULT_PAGINATION and articles_paginator.num_pages > 1 %}
  <!-- Pager -->
    <div class="w-100 pa5 bg-graylight">
      <div class="flex flex-wrap tc justify-center paginator">
        {% if articles_page.has_previous() %}
          <a class="c-fluid-bk roboto no-underline fw7 br1"
             href= "{{ SITEURL }}/{{ articles_previous_page.url }} ">
             &lt;
          </a>
        {% endif %}
        {% for page_num in range(articles_paginator.num_pages) %}
          {% if loop.first %}
            {% if "tags" not in articles_page.url and "authors" not in articles_page.url and "categories" not in articles_page.url %}
              <a href='{{ SITEURL }}/blog/index.html'
                class="{{ 'current' if page_num + 1 == articles_page.number else '' }} c-fluid-bk roboto no-underline fw7 br1">{{ page_num + 1 }}</a>
            {% elif "tags" in articles_page.url %}
              <a href='{{ SITEURL }}/blog/tags/{{ tag|replace(" ", "-")|lower }}/index.html'
                class="{{ 'current' if page_num + 1 == articles_page.number else '' }} c-fluid-bk roboto no-underline fw7 br1">{{ page_num + 1 }}</a>
            {% elif "categories" in articles_page.url %}
              <a href='{{ SITEURL }}/blog/categories/{{ category|replace(" ", "-")|lower }}/index.html'
                class="{{ 'current' if page_num + 1 == articles_page.number else '' }} c-fluid-bk roboto no-underline fw7 br1">{{ page_num + 1 }}</a>
            {% elif "authors" in articles_page.url %}
              <a href='{{ SITEURL }}/blog/authors/{{ author|replace(" ", "-")|lower }}/index.html'
                class="{{ 'current' if page_num + 1 == articles_page.number else '' }} c-fluid-bk roboto no-underline fw7 br1">{{ page_num + 1 }}</a>
            {% endif %}
          {% else %}
            {% if "tags" not in articles_page.url and "authors" not in articles_page.url and "categories" not in articles_page.url %}
              <a href='{{ SITEURL }}/blog/index{{ page_num + 1 }}.html'
                class="{{ 'current' if page_num + 1 == articles_page.number else '' }} c-fluid-bk roboto no-underline fw7 br1">{{ page_num + 1 }}</a>
            {% elif "tags" in articles_page.url %}
              <a href='{{ SITEURL }}/blog/tags/{{ tag|replace(" ", "-")|lower }}/index{{ page_num + 1 }}.html'
                class="{{ 'current' if page_num + 1 == articles_page.number else '' }} c-fluid-bk roboto no-underline fw7 br1">{{ page_num + 1 }}</a>
            {% elif "categories" in articles_page.url %}
              <a href='{{ SITEURL }}/blog/categories/{{ category|replace(" ", "-")|lower }}/index{{ page_num + 1 }}.html'
                class="{{ 'current' if page_num + 1 == articles_page.number else '' }} c-fluid-bk roboto no-underline fw7 br1">{{ page_num + 1 }}</a>
            {% elif "authors" in articles_page.url %}
              <a href='{{ SITEURL }}/blog/authors/{{ author|replace(" ", "-")|lower }}/index{{ page_num + 1 }}.html'
                class="{{ 'current' if page_num + 1 == articles_page.number else '' }} c-fluid-bk roboto no-underline fw7 br1">{{ page_num + 1 }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        {% if articles_page.has_next() %}
          <a class="c-fluid-bk roboto no-underline fw7 br1"
             href="{{ SITEURL }}/{{ articles_next_page.url }} " >
             &gt;
          </a>
        {% endif %}
      </div>
    </div>
    <br/>
{% endif %}
{% endblock content %}
<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
