{% extends "base.html" %}
{% block meta %}
  <meta name="description"
        content="{{ page.description }}">
  <meta name="keywords"
        content="{{ page.keywords }}">
  <meta name="url"
        property="og:url"
        content="{{ SITEURL }}/{{ page.url }}">
  <meta name="title"
        property="og:title"
        content="{{ page.title }} | {{ SITENAME }}">
  <meta name="description"
        property="og:description"
        content="{{ page.description }}">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
  <meta name="type"
        property="og:type"
        content="website">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block breadcrumb%}
  <!-- navcontent-container -->
<div class="pv0 mt-body">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href=".">
            Techniques
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">
            {{ page.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block header %}
<div
  class="{{ page.banner }} bg-banner-sz coverm cover-s banner-height justify-center items-center flex bg-center">
  <div class="w-100 center">
    <h1 class="white fw7 f1 neue tc f-5-l ma0">
      {{ page.title }}
    </h1>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="mw-1366 ph-body center roboto">
  <div class="mw7 center roboto f3-l f4 fw3 lh-2 pv4">
    {{ page.definition }}
  </div>
  <div class="w-100 pv4">
    <h2 class="c-fluid-bk fw7 f1 tc">Benefits</h2>
    <div class="solution-benefits justify-center items-center flex flex-wrap">
      {{ page.content }}
    </div>
  </div>
</div>
{% if page.slug == "techniques/sast/" %}
<div class="mw-1366 ph-body center pv5 v-top">
  <h2 class="roboto c-fluid-bk f1 fw6 tc">
    Supported Languages
  </h2>
  <div class="center moon-gray mw8">
    <ul class="list roboto f3-ns f4 fw7 dib-l ph4 mv0 pv0-l pv4 tl">
      <li>ABAP</li>
      <li>ActionScript</li>
      <li>ASP.NET</li>
      <li>Apex</li>
      <li>C</li>
      <li>C#</li>
      <li>C++</li>
      <li>Cloudformation</li>
      <li>Cobol</li>
      <li>Go</li>
    </ul>
    <ul class="list roboto f3-ns f4 fw7 dib-l ph4 mv0 pv0-l pv4 tl">
      <li>Hana SQL Script</li>
      <li>HTML</li>
      <li>Informix</li>
      <li>Java</li>
      <li>JavaScript/TypeScript</li>
      <li>JCL</li>
      <li>JSP</li>
      <li>Kotlin</li>
      <li>Natural</li>
      <li>Objective C</li>
    </ul>
    <ul class="list roboto f3-ns f4 fw7 dib-l ph4 mv0 pv0-l pv4 tl">
      <li>OracleForms</li>
      <li>PHP</li>
      <li>PL-SQL</li>
      <li>PL1</li>
      <li>PowerScript</li>
      <li>Python</li>
      <li>RPG4</li>
      <li>Ruby</li>
      <li>Scala</li>
      <li>SQL</li>
    </ul>
    <ul class="list roboto f3-ns f4 fw7 dib-l ph4 mv0 pv0-l pv4 tl v-top">
      <li>SQL</li>
      <li>Swift</li>
      <li>TAL</li>
      <li>Terraform</li>
      <li>Transact-SQL</li>
      <li>VB.NET</li>
      <li>VisualBasic 6</li>
      <li>XML</li>
    </ul>
  </div>
</div>
{% endif %}
{% endblock content %}
