:local .button {
  border-radius: 0 !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px !important;
  white-space: normal;
}

:local .button,
.button:focus {
  background-color: #FFFFFF;
  border-color: #FF3435;
  color: #FF3435;
  outline: none;
}

:local .button:hover,
.button:active:hover {
  background-color: #FF3435;
  border-color: #FF3435;
  color: #FFFFFF;
}

:local .button:active,
.button:active:focus {
  background-color: #8E1616;
  border-color: #8E1616;
  color: #FFFFFF;
  outline: none;
}

:local .button:active svg path {
  fill: #FFFFFF !important;
  stroke: #FFFFFF !important;
}

:local .button[disabled],
.button[disabled]:hover {
  background-color: #FAFAFA;
  border-color: #DFDFDF;
  color: #919191;
  opacity: 1;
}

:local .button svg {
  width: 16px !important;
  height: 16px !important;
}

:local .button[disabled] svg path {
  fill: #919191 !important;
  stroke: #919191 !important;
}

:local .button:hover:not([disabled]) svg path {
  fill: #FFFFFF !important;
  stroke: #FFFFFF !important;
}

:local .button[disabled] svg circle {
  stroke: #919191 !important;
}

:local .button:hover:not([disabled]) svg circle {
  stroke: #FFFFFF !important;
}
